@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

.instructions {
  font-family: "Roboto", sans-serif;
  margin: 1rem;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.6);
}
