@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

.searchbar__label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-left: 1rem;
}
.searchbar__input {
  height: 2.5rem;
  width: 20rem;
  border: solid grey 1px;
  border-radius: 4px;
}
.searchbar__input:focus {
  border: solid #6200ee 2px;
}
*:focus {
  outline: none;
}
.searchbar__btn {
  display: block;
}
